.container {
  position: relative;
  text-align: center;
  color: #0D47A1; 
}

.text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-size: 3em;
}

.folders {
  position: relative;
  /* top: 40%; */
  /* left: 25%; */
  font-family: monospace;
  font-size: 2em;
  display: inline; 
  text-align: center;
  align-items: center;
  color: #0D47A1; 
}

.art {
  display: inline-block; 
}

.photo {
  display: inline-block;
}