.container {
  position: relative;
  text-align: center;
  color: #0D47A1; 
}

.text {
  position: absolute;
  text-align: center;
  width: 75%;
  top: 40%; 
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  font-family: monospace;
  font-size: 3em;
}

.folders {
  position: relative;
  /* top: 40%; */
  /* left: 25%; */
  width: 90%;
  margin-left:auto;
  margin-right:auto;
  font-family: monospace;
  font-size: 2em;
  display: block; 
  text-align: center;
  align-items: center;
  color: #0D47A1; 
}

.art {
  display: inline-block; 
}

.photo {
  display: inline-block;
}

.info {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /* border:2px solid White; */ 
}

.about {
  font-family: 'Chivo', sans-serif;
}