---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
"minima/initialize";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Coiny');

/** STAFF PAGE STYLING **/
.uta-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

    .staff {
      width: fit-content;
      flex-wrap: wrap;
      display: flex;
      flex: 0 0 31%;
      height: 50%;
    }

    .staff-wrapper {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px;
      // overflow: hidden;
      transition: 0.2s ease;

      .staff-photo {
        position: relative;
        max-width: 80%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;

        .staff-img {
          display: block;
          z-index: 3;
          position: absolute;
        }

        @media only screen and (max-width: 600px) {
          width: 100%;
          height: 200px;
        }

        .throwback-img {
          z-index: 1;
          position: absolute;
        }

        .staff-image {
          // object-fit: contain;
        }
      }

      &:hover {
          .staff-photo {
            .staff-img {
              display: none;
            }
          }
        }

      .staff-info {
        width: 70%;
        height: max-content;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 600px) {
          width: 100%;
        }

          .staff-name {
            font-weight: bold;
          }
      }
    }
}

/** SITE SIDEBAR **/
.site-sidebar {
  padding: 30px 5px;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100px;

  .sidebar-wrapper {
    justify-content: center;
    display: flex;
    align-items: center;

    .site-nav {
      display: flex;
      // width: 90px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      left: 15px;
      position: absolute;
      z-index: 21;

        @media only screen and (max-width: 1020px) {
          position: fixed;
          top: 12px;
          flex-direction: column;
        }


    .nav-trigger {
      width: 100% !important;
    }

    .trigger {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;

      @media only screen and (max-width: 1020px) {
        flex-direction: column;
      }
    }
  }
  }

  .link-wrapper {
    //font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s ease;
    min-width: 80px;

    &:hover {
      backdrop-filter: blur(10px);
    }

    .image {

    }

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-weight: bold;
      font-size: 0.9rem;
    }
  }
}

/** SITE SIDEBAR **/
header {
  font-family: 'Coiny';
  height: 25px;
}

/** SITE FOOTER **/
.footer-wrapper {
  font-family: 'Coiny';
  height: 30px;
  width: 100%;
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #d4d4d4;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #4e4e4e;
  box-shadow: inset 1px 0 #fff;

  // .footer-button {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   box-shadow: inset 0 0 3px #000000;
  //   padding: 3px;
  //   margin-left: 2px;
  //   margin-bottom: 2px;
  //   margin-top: 2px;
  //   vertical-align: middle;
  //   display: inline-block;
  //   padding: 2px 6px 3px;
  //   background-color: silver;
  //   border-top: 1px solid #fff;
  //   border-left: 1px solid #fff;
  //   border-right: 1px solid gray;
  //   border-bottom: 1px solid gray;
  //   box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
  //   min-width: 59px;
  //   margin-right: 6px;
  //   color: #000;
  //   cursor: pointer;
  // }

}

/** WINDOW **/
.window {
  width: 100%;
  background-color: white;
  // border: 2px solid #d4d4d4;
  // padding: 1px;
  // box-shadow: 2px 2px 2px #4d4c4c;
  margin-bottom: 8%;

  @media only screen and (max-width: 600px) {
    margin-top: 70px;
  }


    .title {
      font-family: 'Coiny', cursive;
      font-size: 1.5rem;
      position: relative;
      text-align: left;
      color: #fff;
      line-height: 1.2;
      // border: 4px solid #d4d4d4;
      background: #2f8ece;
      display: flex;
      flex-direction: row;
      text-transform: capitalize;
      // justify-content: space-between;

      .title-text {
        padding: 0.5em 0.75em;
      }

      // .button {
      //   display: block;
      //   color: #000;
      //   background-color: silver;
      //   position: relative;
      //   z-index: 10;
      //   float: right;
      //   border-left: 2px solid #ededed;
      //   border-top: 2px solid #ededed;
      //   border-right: 2px solid #404040;
      //   border-bottom: 2px solid #404040;
      // }

      // .buttons-wrapper {
      //   margin: 5px 0 5px 0;
      //   display: flex;
      //   flex-direction: row;
      //   justify-content: flex-end;
      //   position: relative;
      //   width: 33%;

      //   @media only screen and (max-width: 900px) {
      //     display: none;
      //   }
      // }

      // .buttons-wrapper > button:last-child {
      //   margin-right: 3px;
      //   margin-left: 10px;
      // }

      // .button:active{
      //   border-left: 2px solid #000000;
      //   border-top: 2px solid #000000;
      //   border-right: 2px solid #ededed;
      //   border-bottom: 2px solid #ededed;
      // }

      // .button > img {
      //   width: 200%;
      // }

    }

    p {
      font-family: "Open Sans";
    }

    h3 {
      font-family: "Coiny";
    }

    .window-content {
      font-family: "Open Sans";
      // border-top: 3px solid #4d4c4c;
      // border-left: 4px solid #d4d4d4;
      // border-right: 4px solid #d4d4d4;
      border-bottom: 2px solid #d4d4d4;
      padding: 15px 15px 0px 15px;
      // box-shadow: inset 2px 0.5px 2px #4d4c4c;
    }
}

/* PAGE CONTENT */
.page-content {
  padding: 0 0; 
  flex: 1 0 auto; 
  background-image: url("{{base}}/assets/images/icons/coral.png"), linear-gradient(to bottom left, #e9e9e6, #bccfd4, #8ab8c3, #5788a8) ; 
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom; 
  font-family: monospace; 
  min-height: 800px;
}

/* LINKS */
.links-subcontainer > p {
  display: block;
  margin: 5px 20px 5px 5px;
  width: 30%;
  @media only screen and (max-width: 1150px) {
    width: 100%;
  }
}

.links-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: -10px;
  min-height: 50px;
  max-height: 110px;
  @media only screen and (max-width: 1150px) {
    max-height: none;
  }
}

.links-container {
  padding-bottom: 10px;
}


/** Header, title **/

.header {
  position: relative;
  // margin-top: 10px;
  font-size: 6rem;
  font-family: "Coiny";
  display: flex;
  flex-direction: row;
  // justify-content: flex-end;
  justify-content: right;
  align-items: center;
  color: white;
  text-shadow: 2px 2px #5d5d5d;
  z-index: 20;

  a {
    color: white; // changes the size of the header text 
    text-transform: none;
    text-decoration: none;
  }

  @media only screen and (max-width: 600px) {
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    margin-top: 0px !important;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100vw;
    backdrop-filter: blur(10px);

    .text {
      right: 20px;
      position: relative;
    }
  }
}
