{% include base.html %}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="header">
          <a class="text" href="./">CS200</a>
        </div>
        <div class="window">
          <div class="title">
            <div class="title-text">
              {{ page.windowTitle }}
            </div>
            <div class="buttons-wrapper">
              <button class="button">
                <img src = "{{base}}/assets/images/icons/question_icon.png" alt="help">
              </button>
              <button class="button">
                <img src = "{{base}}/assets/images/icons/minimize.svg" alt="minimize">
              </button>
              <button class="button">
                <img src = "{{base}}/assets/images/icons/close_icon.png" alt="close">
              </button>
            </div>
          </div>
          <div class="window-content">
            {{ content }}
            {%- include links.html -%}
          </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
